extends admin-layout.jade

block content
    .content
        .container
            .page-header
                h4 главная страница - админка
        #frames.container(style='min-height:900px;')
            #index.row-fluid
                .span12.left-column.debug
                    .column-header.debug
                        p help admin content
                    p help admin help admin help admin help admin help admin help admin help admin help admin help admin help admin help admin help admin help admin help admin help admin help admin help admin help admin

