<html>
extends layout

block content
      .content
        .container
          .page-header
            h1 Our works 
              small caption for your works
          .row
            .span12
              ul.thumbnails
                li.span3

                  a(href="../our_works#portfolioModal1", class="thumbnail", data-toggle="modal")
                    img(src="http://placehold.it/260x180")
                  #portfolioModal1.modal.hide.fade, tabindex="-1", role="dialog", aria-labelledby="portfolioList", aria-hidden="true")
                    .modal-header
                      button(type="button", class="close", data-dismiss="modal", aria-hidden="true") ×
                      h3#myModalLabel Work title
                    .modal-body
                      .center-align
                        img(src="http://placehold.it/500x250", class="bottom-space-less thumbnail", alt="image name")
                        | Work description.Work description.Work description.
                        | Work description.Work description.Work description.
                        | Work description.Work description.Work description.
                        | Work description.Work description.Work description.
                    .modal-footer
                      button(class="btn", data-dismiss="modal", aria-hidden="trueClose")


                li.span3
                  a(href="../our_works#portfolioModal2" class="thumbnail" data-toggle="modal")
                    img(src="http://placehold.it/260x180")
                  div(class="modal hide fade", id="portfolioModal2", tabindex="-1", role="dialog", aria-labelledby="portfolioList", aria-hidden="true")
                    .modal-header
                      button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
                        | ×
                      h3#myModalLabelWork title
                    .modal-body
                      .center-align
                        img(src="http://placehold.it/500x250", class="bottom-space-less thumbnail", alt="image name")
                      p
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                    .modal-footer
                      button(class="btn", data-dismiss="modal", aria-hidden="trueClose")



                li.span3
                  a(href="../our_works#portfolioModal3" class="thumbnail" data-toggle="modal")
                    img(src="http://placehold.it/260x180")
                  div(class="modal hide fade", id="portfolioModal3", tabindex="-1", role="dialog", aria-labelledby="portfolioList", aria-hidden="true")
                    .modal-header
                      button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
                        | ×
                      h3#myModalLabelWork title
                    .modal-body
                      .center-align
                        img(src="http://placehold.it/500x250", class="bottom-space-less thumbnail", alt="image name")
                      p
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                    .modal-footer
                      button(class="btn", data-dismiss="modal", aria-hidden="trueClose")
                  <!-- End: Modal -->



                li.span3
                  a(href="../our_works#portfolioModal4" class="thumbnail" data-toggle="modal")
                    img(src="http://placehold.it/260x180")
                  div(class="modal hide fade", id="portfolioModal4", tabindex="-1", role="dialog", aria-labelledby="portfolioList", aria-hidden="true")
                    .modal-header
                      button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
                        | ×
                      h3#myModalLabelWork title
                    .modal-body
                      .center-align
                        img(src="http://placehold.it/500x250", class="bottom-space-less thumbnail", alt="image name")
                      p
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                    .modal-footer
                      button(class="btn", data-dismiss="modal", aria-hidden="trueClose")
                  <!-- End: Modal -->
                
              
              ul.thumbnails
                li.span3
                  a(href="../our_works#portfolioModal5" class="thumbnail" data-toggle="modal")
                    img(src="http://placehold.it/260x180")
                  div(class="modal hide fade", id="portfolioModal5", tabindex="-1", role="dialog", aria-labelledby="portfolioList", aria-hidden="true")
                    .modal-header
                      button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
                        | ×
                      h3#myModalLabelWork title
                    .modal-body
                      .center-align
                        img(src="http://placehold.it/500x250", class="bottom-space-less thumbnail", alt="image name")
                      p
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                    .modal-footer
                      button(class="btn", data-dismiss="modal", aria-hidden="trueClose")

                li.span3
                  a(href="../our_works#portfolioModal6" class="thumbnail" data-toggle="modal")
                    img(src="http://placehold.it/260x180")
                  div(class="modal hide fade", id="portfolioModal6", tabindex="-1", role="dialog", aria-labelledby="portfolioList", aria-hidden="true")
                    .modal-header
                      button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
                        | ×
                      h3#myModalLabelWork title
                    .modal-body
                      .center-align
                        img(src="http://placehold.it/500x250", class="bottom-space-less thumbnail", alt="image name")
                      p
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                    .modal-footer
                      button(class="btn", data-dismiss="modal", aria-hidden="trueClose")

                li.span3
                  a(href="../our_works#portfolioModal7" class="thumbnail" data-toggle="modal")
                    img(src="http://placehold.it/260x180")
                  div(class="modal hide fade", id="portfolioModal7", tabindex="-1", role="dialog", aria-labelledby="portfolioList", aria-hidden="true")
                    .modal-header
                      button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
                        | ×
                      h3#myModalLabelWork title
                    .modal-body
                      .center-align
                        img(src="http://placehold.it/500x250", class="bottom-space-less thumbnail", alt="image name")
                      p
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                    .modal-footer
                      button(class="btn", data-dismiss="modal", aria-hidden="trueClose")

                li.span3
                  a(href="../our_works#portfolioModal8" class="thumbnail" data-toggle="modal")
                    img(src="http://placehold.it/260x180")
                  div(class="modal hide fade", id="portfolioModal8", tabindex="-1", role="dialog", aria-labelledby="portfolioList", aria-hidden="true")
                    .modal-header
                      button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
                        | ×
                      h3#myModalLabelWork title
                    .modal-body
                      .center-align
                        img(src="http://placehold.it/500x250", class="bottom-space-less thumbnail", alt="image name")
                      p
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                        Work description.Work description.Work description.
                    .modal-footer
                      button(class="btn", data-dismiss="modal", aria-hidden="trueClose")


              
              .pagination pagination-centered
                ul
                  li.disabled
                    a(href="../our_works") &laquo;
                  
                  li.active
                    a(href="../our_works") 1
                  li
                    a(href="../our_works") 2
                  li
                    a(href="../our_works") 3
                  li
                    a(href="../our_works") 4
                  li
                    a(href="../our_works") 5
                  li
                    a(href="../our_works") 6
                  
                  li
                    a(href="../our_works") &raquo;
                  
                
              
                                                 
                    
        
      </html>
