extends layout

block content
    .content
      .container
        .page-header
          h1 Excercise index page
        .row
          .span10.offset1
            #faqAccordion.accordion
            h4 number of excercises: #{excercises.length}
            - for(var i=0;i<excercises.length;++i){
              - var ex = excercises[i];
                  h4
                    a(href="/excercises/#{i}")
                      | #{ex.question}
            - }
