extends layout

block content
    .content
      .container
        .page-header
          h3 Справочный раздел по Neo4j
        .row
          .span10.offset1
            ul
            - for(var i=0;i<helps.length;++i){
              - var ex = helps[i];
              li
                 h4
                    a(href="/help/#{ex.id}")
                      | #{ex.title}
            - }
