extends layout

block content
    .content
      .container
        .page-header
          h3 Справочный раздел по Neo4j
        .row-fluid
          .span12.debug
            .row-fluid.debug
              .span10.debug
                  ul
                        .row-fluid
                        - var counter=1;
                        - for(var i = 0;i<chapters.length;++i){
                          ul
                            .row-fluid
                              h4
                                a(href="/help/#{i}")
                                  | #{counter++}. #{chapters[i].name}
                        - }
              .span2.debug
        .row-fluid
          .span3.debug
          .span3.debug
          .span3.debug
          .span3.debug