extends layout.jade

block js_content


      h1 ssdfsdfsfd
      script(src="../javascripts/jquery.min.js")
      script(src="../javascripts/bootstrap.min.js")
      script(src="../javascripts/application.js")
